<section class="certificates" id="certificates">
  <div class="container">
    <h2 class="title">21 сертификат и протоколы исследований <b>подтверждают качество и&nbsp;долговечность</b> продукции</h2>
    <h4>Рольставни и ворота устойчивы к взломам, огнестойкие и готовы к работе в агрессивных средах и перепадах температур</h4>
    <ul class="certificates-tabs">
      <li><a href="#">ИСО Сертификаты</a></li>
      <li><a href="#">Сертификаты<br> противовзлома</a></li>
      <li class="active"><a href="#">Сертификаты<br> соответсвия</a></li>
      <li><a href="#">Протоколы испытаний</a></li>
      <li><a href="#">Дипломы<br> и свидетельства</a></li>
      <li><a href="#">Лицензии</a></li>
    </ul>
    <div class="certificates-tab active">
      <a href="img/certificates/full/item-13.jpg" class="certificates-item" data-fancybox="tab-3" style="background-image:url(img/certificates/item-13.jpg)"></a>
      <a href="img/certificates/full/item-14.jpg" class="certificates-item" data-fancybox="tab-3" style="background-image:url(img/certificates/item-14.jpg)"></a>
      <a href="img/certificates/full/item-15.jpg" class="certificates-item" data-fancybox="tab-3" style="background-image:url(img/certificates/item-15.jpg)"></a>
      <a href="img/certificates/full/item-16.jpg" class="certificates-item" data-fancybox="tab-3" style="background-image:url(img/certificates/item-16.jpg)"></a>
      <a href="img/certificates/full/item-17.jpg" class="certificates-item" data-fancybox="tab-3" style="background-image:url(img/certificates/item-17.jpg)"></a>
      <a href="img/certificates/full/item-18.jpg" class="certificates-item" data-fancybox="tab-3" style="background-image:url(img/certificates/item-18.jpg)"></a>
      <a href="img/certificates/full/item-19.jpg" class="certificates-item" data-fancybox="tab-3" style="background-image:url(img/certificates/item-19.jpg)"></a>
      <a href="img/certificates/full/item-20.jpg" class="certificates-item" data-fancybox="tab-3" style="background-image:url(img/certificates/item-20.jpg)"></a>
    </div>
  </div>
</section>