<section class="colors300">
  <div class="container">
    <h2 class="title"><i>300+</i> цветовых решений дают <b>возможность подобрать цвет и фактуру под любой дизайн-проект</b></h2>
    <div class="colors300-row">
      <div class="colors300-image">
        <img src="img/colors300-doors.jpg" alt="" class="colors300-doors">
        <img src="img/icons/colors300-badge.svg" alt="" class="colors300-badge">
        <div class="colors300-image__text">Имитация мрамора, малахита, любой породы дерева <b>и еще 104 варианта</b></div>
      </div>
      <div class="colors300-text">
        <div class="colors300-text__profil">
          <img src="img/colors300-profil.jpg" alt="">
          <p><b>Выкрашиваем профили</b> по цветовой гамме RAL порошковым методом, что обеспечивает покрытию наших изделий прочность, долговечность, защиту от коррозии и экологическую безупречность</p>
        </div>
        <div class="colors300-text__decor">
          <b>Декорируем  профили под дерево и камень</b>
          <p>Фактура рисунка "впаивается" в полимерно-порошковое покрытие на всю его толщину и таким образом не стирается в процессе эксплуатации даже в сложных условиях</p>
        </div>
        <div class="btn"><a href="javascript:;" data-fancybox data-src="#popup-engineer" data-title="Декорируйте рольставни или ворота под дизайн проект" data-btn="Подобрать цвет и фактуру для моего заказа" class="btn-red">Подобрать цвет и фактуру для моего заказа</a></div>
      </div>
    </div>
  </div>
</section>