<section class="control">
  <div class="container">
    <h2 class="title"><b>Мы контролируем все:</b> подбор материалов и комплектующих, работу сотрудников, а также качество каждого этапа изготовления, <i>чтобы получить лучшие на рынке рольставни и ворота</i></h2>
    <div class="control-row">
      <div class="control-item">
        <h3>#01</h3>
        <p>В производстве используем <b>четыре группы стальных профилей</b> производства НЛМК и Северстали, на любые проемы, от оконных (0,5м²) до ангаров (до 14 метров)</p>
      </div>
      <div class="control-item">
        <h3>#02</h3>
        <p>Система менеджмента <b>соответстует ГОСТ</b> Р. ИСО 9001-2008.</p>
      </div>
      <div class="control-item">
        <h3>#03</h3>
        <p>2-х ступенчатый <b>контроль качества</b> на производстве</p>
      </div>
      <div class="control-item">
        <h3>#04</h3>
        <p><b>Гарантия 2 года</b>, постгарантийное обслуживание, сервис 24 часа в сутки</p>
      </div>
    </div>
  </div>
</section>