<section class="ctaKP">
  <div class="container">
    <div class="ctaKP-text">
      <h2 class="title"><b>Рассчитаем за 29 минут точную стоимость и&nbsp;сроки производства</b> <i>по&nbsp;готовому ТЗ</i> или поможем в его разработке</h2>
      <div class="ctaKP-list">
        <p>Сервис-инженер компании свяжется с вами для того, чтобы: </p>
        <ul>
          <li>Помочь определиться с типом профиля и вариантами монтажа;</li>
          <li>Подобрать комплектующие (тип профиля, система запирания и управления и т. д.);</li>
          <li>Рассказать про возможности персонализации и декорирования изделия под ваш бренд;</li>
          <li>Подготовит коммерческое предложение и вышлет его вам в течении 29 минут. </li>
        </ul>
      </div>
      <div class="ctaKP-row">
        <div class="ctaKP-item">
          <img src="img/ctakp-item-1.png" alt="">
          <p>Скидка 5% на заказ<br> при заказе в тот же день</p>
        </div>
        <div class="ctaKP-item">
          <img src="img/ctakp-item-2.png" alt="">
          <p>КП с точной стоимостью<br> и сроками работ</p>
        </div>
      </div>
    </div>
    <div class="form ctaKP-form">
      <h3><b>Получите коммерческое<br> предложение</b> <i>по вашему</i><br> техническому заданию</h3>
      <form method="post" class="js-form">
        <label class="form-label">
          <span>Менеджер свяжется с вами,<br> чтобы уточнить детали заказа</span>
          <input type="tel" name="phone" class="form-input masked" placeholder="Введите номер телефона" />
        </label>
        <label class="form-label">
          <span>На почту мы отправим коммерческое<br> предложение с ценами</span>
          <input type="email" name="email" class="form-input" placeholder="Введите e-mail адрес" />
        </label>
        <label class="form-label form-file">
          <span>Загрузите техническое задание (при наличии)</span>
          <input type="file" name="file">
          <p>Загрузить техническое задание</p>
        </label>
        <div class="btn"><button class="btn-red">Получить предложение за 29 минут</button></div>
        <label class="form-politic">
          <input type="checkbox" name="politic" checked/>
          <span></span>
          <p>Вы соглашаетесь с условиями обработки<br> персональных данных (<a href="politic.html">ознакомиться</a>)</p>
        </label>
      </form>
    </div>
  </div>
</section>