<section class="dealer">
  <div class="container">
    <h2 class="title"><b>Лидеры</b> рынка строительных услуг <b>уже продают</b> ворота и рольставни компании <b>«<span>Р</span>олМастер»</b></h2>
    <h4>Хотите стать дилером? Переходите на диллерскую страницу и узнайте, <b>как заработать до 200 тыс. руб.</b> в месяц на нашей продукции</h4>
    <div class="btn"><a href="javascript:;" data-fancybox data-src="#popup-dealer" class="btn-red">Узнать как стать партнером</a></div>
    <img src="img/dealer-man.png" alt="" class="dealer-man">
  </div>
</section>