<section class="delivery">
  <div class="container">
    <h2 class="title"><b>Доставим в любой город</b> России<br> и страны СНГ <i>точно в срок</i></h2>
    <h4>А более 500 официальных дилеров и партнеров по регионам сделают монтаж с гарантией 1 год</h4>
    <div class="delivery-row">
      <div class="form delivery-form">
        <h3><b>Узнайте, кто сделает монтаж в&nbsp;вашем городе</b></h3>
        <form method="post" class="js-form">
          <label class="form-label">
            <span>Заполните форму ниже, мы свяжемся<br> в&nbsp;ближайшее время и уточним компании<br> в&nbsp;вашем регионе</span>
          </label>
          <label class="form-label">
            <input type="tel" name="phone" class="form-input masked" placeholder="Введите номер телефона" />
          </label>
          <label class="form-label">
            <input type="text" name="city" class="form-input" placeholder="Введите ваш город" />
          </label>
          <div class="btn"><button class="btn-red">Получить список монтажных компаний</button></div>
          <label class="form-politic">
            <input type="checkbox" name="politic" checked/>
            <span></span>
            <p>Вы соглашаетесь с условиями обработки<br> персональных данных (<a href="politic.html">ознакомиться</a>)</p>
          </label>
          <input type="hidden" name="form" value="Получить список монтажных компаний" />
        </form>
      </div>
      <img src="img/delivery-car.jpg" alt="" class="delivery-car">
    </div>
  </div>
</section>