<section class="documentation" id="documentation">
  <div class="container">
    <h2 class="title"><b>Техническая документация</b></h2>
    <ul class="documentation-tabs">
      <li><a href="#">Техническая документация</a></li>
      <li><a href="#">Технические данные</a></li>
      <li class="active"><a href="#">Чертежи, Схемы, Таблицы</a></li>
      <li><a href="#">Тендерная документация</a></li>
    </ul>
    <div class="documentation-tab active">
      <ul class="documentation-list">
        <li><a target="_blank" href="files/Svodnaya_tablitsa_kolichestva_stavnej_ot_vysoty.pdf">Количество ставней от высоты (сводная таблица).pdf</a></li>
        <li><a target="_blank" href="files/Tablitsa_diametrov_namotki_rulonov_iz_profilya_ST-60_60P.pdf">Таблица диаметров намотки рулонов из профиля СТ-60, 60(П).pdf</a></li>
        <li><a target="_blank" href="files/Tablitsa_diametrov_namotki_rulonov_iz_profilya_ST-75_75P.pdf">Таблица диаметров намотки рулонов из профиля СТ-75, 75(П).pdf</a></li>
        <li><a target="_blank" href="files/Tablitsa_diametrov_namotki_rulonov_iz_profilya_ST-105_105P.pdf">Таблица диаметров намотки рулонов из профиля СТ-105, 105(П).pdf</a></li>
        <li><a target="_blank" href="files/Tablitsa_diametrov_namotki_rulonov_iz_profilya_ST-115_115P.pdf">Таблица диаметров намотки рулонов из профиля СТ-115, 115(П).pdf</a></li>
        <li><a target="_blank" href="files/Konstruktivnaya_shema_bolshih_rulonnyh_vorot_s_bokovym_privodom.pdf">Конструктивная схема больших рулонных ворот с боковым приводом.pdf</a></li>
      </ul>
      <ul class="documentation-list">
        <li><a target="_blank" href="files/Konstruktivnaya_shema_bolshih_rulonnyh_vorot_s_vnutrivalnymi_privodom.pdf">Конструктивная схема больших рулонных ворот с внутривальными приводом.pdf</a></li>
        <li><a target="_blank" href="files/Sxema_konsolnogo_mexanizma.pdf">Схема консольного механизма высоких рулонных ворот.pdf</a></li>
        <li><a target="_blank" href="files/Varianty_ustanovki_rolstavnej.pdf">Варианты установки рольставен.pdf</a></li>
        <li><a target="_blank" href="files/Varianty_zaschitnyh_korobov_i_napravlyayuschih_shin.pdf">Варианты защитных коробов и направляющих шин.pdf</a></li>
        <li><a target="_blank" href="files/Parametry_napravlyayuschej_shiny_dlya_ST-75P.pdf">Параметры направляющей шины для СТ-75, - 75П.pdf</a></li>
        <li><a target="_blank" href="files/Parametry_napravlyayuschej_shiny_dlya_ST-105_-105P.pdf">Параметры направляющей шины для СТ-105,-105П.pdf</a></li>
      </ul>
    </div>
  </div>
</section>