<section class="expert">
  <div class="container">
    <h2 class="title"><b>Скорее всего мы уже решали задачу</b>, аналогичную вашей</h2>
    <div class="expert-quote">
      <p>Поэтому точно знаем сколько времени займет выполнение и каким будет бюджет</p>
      <p><b>Сегодня <span>Р</span>олМастер входит в тройку крупнейших поставщиков России и&nbsp;продолжает расширяться</b></p>
      <p>Это произошло благодаря нашему сервису: работаем так, чтобы клиенты были довольны каждым моментом сотрудничества.</p>
    </div>
    <div class="expert-form">
      <b>Чтобы обсудить задачу с экспертом, узнать стоимость и сроки производства оборудования, просто оставьте телефон:</b>
      <form method="post" class="js-form">
        <input type="tel" name="phone" placeholder="+7 (900) 000-00-00" class="input input-voice masked" />
        <button class="btn-red">Обсудить задачу с экспертом</button>
      </form>
    </div>
    <img src="img/expert-man.png" class="expert-man" alt="">
  </div>
</section>