<section class="footer">
  <div class="container">
    <div class="footer-logo">
      <img src="img/logo-white.svg" alt="">
      <p>Производство, продажа и монтаж рольставней и автоматических ворот по России и СНГ с 1996 года<br><br>© Все права защищены 1996-2020<br><br><a href="politic.html">Политика конфиденциальности</a></p>
    </div>
    <ul class="footer-menu">
      <li><a href="/">О компании</a></li>
      <li><a href="#">Рольставни</a></li>
      <li><a href="#">Ворота</a></li>
      <li><a href="service.html">Доставка, оплата, монтаж</a></li>
      <li><a href="dealer.html">Стать дилером</a></li>
      <li><a href="#">Техническая документация</a></li>
    </ul>
    <div class="footer-info">ООО «РолМастер»<br>ИНН 129590233215<br>ОГРН 429013549518<br><a href="#">Скачать реквизиты</a></div>
    <div class="footer-info">info@rolmaster.ru<br><br><a href="#">Как проехать в офис</a><br><a href="#">Как проехать на склад</a></div>
    <div class="footer-contact">
      <a href="tel:88007707560">8 800 770 75 60</a>
      <p>Бесплатный звонок<br>из любой точки РФ<br><br>Офис —  г. Москва,ул. Воронцовская, д, 24/6, стр. 2<br><br>Склад — Люберецкий р-н, Малаховка пос., Касимовское ш., д.3а</p>
    </div>
  </div>
</section>