<meta charset="utf-8">
<meta name="language" content="Russian">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="robots" content="index,follow">
<meta name="title" content="@title">
<meta name="description" content="Производство, продажа и монтаж рольставней и автоматических ворот по России и СНГ с 1996 года">
<title>@title</title>
<link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png?v=randomVersion">
<link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png?v=randomVersion">
<link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png?v=randomVersion">
<link rel="manifest" href="favicon/site.webmanifest?v=randomVersion">
<link rel="mask-icon" href="favicon/safari-pinned-tab.svg?v=randomVersion" color="#ff0000">
<link rel="shortcut icon" href="favicon/favicon.ico?v=randomVersion">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="favicon/browserconfig.xml">
<meta name="theme-color" content="#ffffff">
<link rel="stylesheet" href="css/app.min.css?v=randomVersion">