<section class="order">
  <div class="container">
    <h1 class="title"><b>Соберём заказ в соответствии с вашим тех.заданием</b> <i>или поможем определиться с деталями</i></h1>
    <ul class="order-tabs">
      <li class="active" data-tab="1">Профили</li>
      <li data-tab="2">Кнопки управления</li>
      <li data-tab="3">Приводы для ворот</li>
    </ul>
    <div class="order-tab active" data-tab="1">
      <h3>Профили</h3>
      <p>Благодаря особому способу соединения конструкции могут<br> достигать 13,8м. в ширину и до 8м. в высоту.<br><br> Все виды стальных ламелей имеют перфорированные аналоги</p>
      <div class="order-list">
        <div class="order-item">
          <div class="order-item__img"><img src="img/order/item-1.jpg" alt=""></div>
          <b>СТ - 60</b>
        </div>
        <div class="order-item">
          <div class="order-item__img"><img src="img/order/item-2.jpg" alt=""></div>
          <b>СТ - 60П</b>
        </div>
        <div class="order-item">
          <div class="order-item__img"><img src="img/order/item-3.jpg" alt=""></div>
          <b>СТ - 75</b>
        </div>
        <div class="order-item">
          <div class="order-item__img"><img src="img/order/item-4.jpg" alt=""></div>
          <b>СТ - 75П</b>
        </div>
        <div class="order-item">
          <div class="order-item__img"><img src="img/order/item-5.jpg" alt=""></div>
          <b>СТ - 105</b>
        </div>
        <div class="order-item">
          <div class="order-item__img"><img src="img/order/item-6.jpg" alt=""></div>
          <b>СТ - 115</b>
        </div>
      </div>
    </div>
    <div class="order-tab" data-tab="2">
      <h3>Кнопки управления</h3>
      <div class="order-list">
        <div class="order-item">
          <div class="order-item__img"><img src="img/order/item-7.jpg" alt=""></div>
          <p>Накладные<br> поворотные<br> выключатели</p>
        </div>
        <div class="order-item">
          <div class="order-item__img"><img src="img/order/item-8.jpg" alt=""></div>
          <p>Встроенные<br> поворотные<br> выключатели</p>
        </div>
        <div class="order-item">
          <div class="order-item__img"><img src="img/order/item-9.jpg" alt=""></div>
          <p>Встроенные<br> клавишные<br> выключатели</p>
        </div>
        <div class="order-item">
          <div class="order-item__img"><img src="img/order/item-10.jpg" alt=""></div>
          <p>Замковые<br> встроенные<br> выключатели</p>
        </div>
        <div class="order-item">
          <div class="order-item__img"><img src="img/order/item-11.jpg" alt=""></div>
          <p>Накладные<br> замковые<br> выключатели</p>   
        </div>
      </div>
    </div>
    <div class="order-tab" data-tab="3">
      <h3>Приводы для ворот</h3>
      <p>Электроприводы рольставен, роллет и рулонных ворот весом от 20кг до 1000кг, для RolMaster на партнерских условиях поставляются всемирно известными корпорациями SOMFY (Франция и Европейский Союз) и GUNTNER GRUPPE (Германия).</p>
      <div class="order-list">
        <div class="order-item">
          <div class="order-item__img"><img src="img/order/item-12.jpg" alt=""></div>
          <p>Навальный<br> привод</p>
        </div>
        <div class="order-item">
          <div class="order-item__img"><img src="img/order/item-13.jpg" alt=""></div>
          <p>Боковой<br> привод</p>
        </div>
      </div>
    </div>
  </div>
</section>