<div class="popup" id="popup-engineer">
  <div class="form">
    <h3><b></b></h3>
    <form method="post" class="js-form">
      <label class="form-label">
        <span>Наш инженер свяжется с вами в течение<br> 7 минут и предложит варианты </span>
      </label>
      <label class="form-label">
        <input type="name" name="name" class="form-input" placeholder="Как к вам обращаться?" />
      </label>
      <label class="form-label">
        <input type="tel" name="phone" class="form-input masked" placeholder="Введите номер телефона" />
      </label>
      <div class="btn"><button class="btn-red"></button></div>
      <label class="form-politic">
        <input type="checkbox" name="politic" checked/>
        <span></span>
        <p>Вы соглашаетесь с условиями обработки<br> персональных данных (<a href="politic.html">ознакомиться</a>)</p>
      </label>
    </form>
  </div>
</div>

<div class="popup" id="popup-measurer">
  <div class="form">
    <h3 style="font-size: 20px"><b>Пригласите замерщика бесплатно</b></h3>
    <form>
      <label class="form-label">
        <span style="color: #1A1A1A">Специалист приедет, чтобы провести все замеры<br> и подберёт для вас оптимальный вариант,<br> который прослужит десятки лет</span>
      </label>
      <label class="form-label">
        <span>Менеджер свяжется с вами, чтобы уточнить удобное время для выезда замерщика к вам</span>
        <input type="tel" name="phone" class="form-input masked" placeholder="Введите номер телефона" />
      </label>
      <label class="form-label">
        <span>На почту мы отправим полезные материалы по подбору профиля и самые популярные варианты рольставней, которые выбирают 9 из 10 заказчиков</span>
        <input type="email" name="email" class="form-input" placeholder="Введите e-mail адрес" />
      </label>
      <label class="form-label form-time">
        <span>Укажите удобное время для выезда замерщика</span>
        <label class="js-close-date">
          <input type="radio" name="time" checked />
          <p>Как можно быстрее</p>
        </label>
        <label class="js-open-date">
          <input type="radio" name="time" />
          <p>В конкретное время</p>
        </label>
      </label>
      <label class="form-label form-date">
        <input type="hidden" class="form-input" data-toggle="datepicker" name="date" placeholder="Выберите дату для замера" />
        <div class="form-calendar"></div>
      </label>
      <div class="btn"><button class="btn-red">Записаться на бесплатный замер</button></div>
      <label class="form-politic">
        <input type="checkbox" name="politic" checked/>
        <span></span>
        <p>Вы соглашаетесь с условиями обработки<br> персональных данных (<a href="politic.html">ознакомиться</a>)</p>
      </label>
    </form>
  </div>
</div>