<section class="portfolio @class">
  <div class="container">
    <h2 class="title">За 24 года работы мы выиграли 26 федеральных тендера, произвели и <b>установили более 25 000 @type</b><br> <i>для частных и корпоративных заказчиков</i></h2>
    <div class="portfolio-carousel">
      <div class="portfolio-carousel__list"></div>
      <div class="portfolio-carousel__content">
        <div class="portfolio-carousel__item" style="background-image: url(img/portfolio/item-1.jpg);" data-title="ЦУМ<br> Перфорированные рольставни">
          <div class="portfolio-carousel__text">В сжатые сроки были изготовлены и установлены на 2-х этажах универмага, свыше 70-и роллетных конструкций из стальных профилей</div>
        </div>
        <div class="portfolio-carousel__item" style="background-image: url(img/portfolio/item-1.jpg);" data-title="ТЦ «МЕГА Белая Дача»<br> Роллетные системы">
          <div class="portfolio-carousel__text">2</div>
        </div>
        <div class="portfolio-carousel__item" style="background-image: url(img/portfolio/item-1.jpg);" data-title="«Оранжевое Небо» Детский универмаг Наро-Фоминск. Входные группы">
          <div class="portfolio-carousel__text">3</div>
        </div>
        <div class="portfolio-carousel__item" style="background-image: url(img/portfolio/item-1.jpg);" data-title="Торговый Центр, Котельники МО<br> Перфорированные рольставни">
          <div class="portfolio-carousel__text">4</div>
        </div>
        <div class="portfolio-carousel__item" style="background-image: url(img/portfolio/item-1.jpg);" data-title="ЦУМ<br> Перфорированные рольставни">
          <div class="portfolio-carousel__text">5</div>
        </div>
        <div class="portfolio-carousel__item" style="background-image: url(img/portfolio/item-1.jpg);" data-title="ТЦ «МЕГА Белая Дача»<br> Роллетные системы">
          <div class="portfolio-carousel__text">6</div>
        </div>
        <div class="portfolio-carousel__item" style="background-image: url(img/portfolio/item-1.jpg);" data-title="«Оранжевое Небо» Детский универмаг Наро-Фоминск. Входные группы">
          <div class="portfolio-carousel__text">7</div>
        </div>
        <div class="portfolio-carousel__item" style="background-image: url(img/portfolio/item-1.jpg);" data-title="Торговый Центр, Котельники МО<br> Перфорированные рольставни">
          <div class="portfolio-carousel__text">8</div>
        </div>
      </div>
    </div>
    <div class="portfolio-btns">
      <div class="btn"><a href="javascript:;" data-fancybox data-src="#popup-portfolio" class="btn-gray">Хотите увидеть больше работ?</a></div>
      <div class="btn"><a href="javascript:;" data-fancybox data-src="#popup-measurer" class="btn-red">Вызвать замерщика на объект бесплатно</a></div>
    </div>
  </div>
</section>

<div class="popup" id="popup-portfolio">
  <div class="form">
    <h3><b>Хотите увидеть больше работ?</b></h3>
    <form method="post" class="js-form">
      <label class="form-label">
        <span>Мы готовы показывать свои работы, партнерам. Вышлем работы на почту</span>
      </label>
      <label class="form-label">
        <input type="tel" name="phone" class="form-input masked" placeholder="Введите номер телефона" />
      </label>
      <label class="form-label">
        <input type="email" name="email" class="form-input" placeholder="Введите почту" />
      </label>
      <div class="btn"><button class="btn-red">Посмотреть больше работ</button></div>
      <label class="form-politic">
        <input type="checkbox" name="politic" checked/>
        <span></span>
        <p>Вы соглашаетесь с условиями обработки<br> персональных данных (<a href="politic.html">ознакомиться</a>)</p>
      </label>
    </form>
  </div>
</div>