<section class="present">
  <div class="container">
    <div class="present-row">
      <div class="present-video">
        <a href="https://www.youtube.com/watch?v=-UrVms84PPc" data-fancybox class="present-video__block"></a>
        <div class="present-video__tap">Посмотрите 2-х минутное видео<br> с производственного цеха</div>
      </div>
      <div class="present-text">
        <h2 class="title">«<span>Р</span>олМастер» поставляет продукцию <b>по&nbsp;всей России и&nbsp;СНГ</b> <i>с&nbsp;1996 года</i></h2>
        <h3>За 24 года работы мы выиграли 26 тендеров, произвели и установили более 25 000 продукции и запустили 3 производства</h3>
        <ul class="present-list">
          <li>
            <img src="img/present/item-1.png" alt="">
            <span>
              <b>свыше 1 500</b>
              <p>заказов реализовали<br> за 2019 год</p>
            </span>
          </li>
          <li>
            <img src="img/present/item-2.png" alt="">
            <span>
              <b>запустили 3 завода</b>
              <p>что обеспечивает бесперебойную поставку комплектующих для вашего заказа</p>
            </span>
          </li>
          <li>
            <img src="img/present/item-3.png" alt="">
            <span>
              <b>обучили более 500 партнёров </b>
              <p>по всей России работе с нашей продукцией для&nbsp;идеального монтажа</p>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>