<section class="safety">
  <div class="container">
    <h1 class="title"><b>Ваше имущество в безопасности</b> – ворота <i>выдерживают попытки вскрытия</i> топором, молотком и дрелью</h1>
    <h4 style="max-width: 590px;">Каждый механизм прошел самые суровые испытания русскими морозами, солнцем и активной эксплуатацией более 10 лет</h4>
    <div class="safety-list">
      <ul>
        <li>Выдерживают 30 минут прямого горения. Есть шанс аварийного открытия даже после продолжительного контакта с огнем</li>
        <li>Не подвержены коррозии<br> и не требуют никакого ухода</li>
        <li>Экологический чистая краска,<br> не выделяет токсичных испарений</li>
        <li>Не деформируются со временем<br> и выдерживают температуры до -30°С</li>
        <li>Выдерживают повышенные снеговые и ветровые нагрузки</li>
      </ul>
      <div class="safety-list__circle"><img src="img/safety-gate.jpg" alt=""></div>
    </div>
    <div class="safety-badge">
      <h3>Ворота прослужат 20 лет и больше</h3>
      <p>Все гарантийные обязательства закреплены в договоре и&nbsp;мы несем финансовую ответственность за их выполнение</p>
    </div>
  </div>
</section>