<section class="safety">
  <div class="container">
    <h1 class="title"><b>Ваше имущество в безопасности</b> – рольставни <i>выдерживают попытки вскрытия</i> топором, молотком и дрелью</h1>
    <h4>Нашу конструкцию невозможно вырвать, а полотно выдерживает взлом с использованием тяжелого инструмента на протяжении 30 мин, благодаря использованию в производстве оцинкованной стали и усиленной конструкции</h4>
    <div class="safety-list">
      <ul>
        <li>Выдерживают 30 минут прямого горения. Есть шанс аварийного открытия даже после продолжительного контакта с огнем</li>
        <li>Не подвержены коррозии<br> и не требуют никакого ухода</li>
        <li>Экологический чистая краска,<br> не выделяет токсичных испарений</li>
        <li>Не деформируются со временем<br> и выдерживают температуры до -30°С</li>
        <li>Выдерживают повышенные снеговые и ветровые нагрузки</li>
      </ul>
      <div class="safety-list__circle"><img src="img/safety-rollet.png" alt=""></div>
    </div>
    <div class="safety-badge">
      <h3>Рольставни прослужат 20 лет и больше</h3>
      <p>Все гарантийные обязательства закреплены в договоре и&nbsp;мы несем финансовую ответственность за их выполнение</p>
    </div>
  </div>
</section>