.chose
  padding: 70px 0 80px
  .title
    margin: 0 auto
    max-width: 840px
  &-row
    @include flexbox
    margin: 15px -15px 0
  &-item
    width: calc(100% / 3 - 30px)
    margin: 30px 15px 0
    text-align: center
    img
      margin: 0 auto 15px
    b
      font-size: 20px
    p
      line-height: 1.4
      margin-top: 10px
      padding: 0 15px

// @include media(xl) // 1200

// @include media(lg) // 1024

@include media(md) // 768
  .chose-item
    width: calc(100% / 2 - 30px)

@include media(sm) // 576
  .chose-item
    width: calc(100% - 30px

@include media(xs) //475
  .chose
    padding: 40px 0 50px

// @include media(xxs) // 375