.measurer
  padding: 80px 0
  background: url(../img/measurer-bg.jpg) no-repeat center center
  background-size: cover
  &-form
    margin-left: auto
  &-man
    position: absolute
    left: 0
    bottom: -80px

// @include media(xl) // 1200

@include media(lg) // 1024
  .measurer-man
    left: -140px

@include media(md) // 768
  .measurer
    padding: 40px 0
  .measurer-man
    display: none
  .measurer-form
    margin: 0 auto

// @include media(sm) // 576

// @include media(xs) //475

// @include media(xxs) // 375