.portfolio
  padding-top: 70px
  &.commercial
    padding-top: 0 !important
    .portfolio-btns
      @include flexbox
      margin-top: 50px
      align-items: center
      justify-content: space-between
  .title
    margin: 0 auto
    max-width: 1040px
  &-carousel
    margin-top: 60px
    position: relative
    background: #ffffff
    border-radius: 15px 
    box-shadow: 0px 4px 60px rgba(163, 169, 183, 0.15)
    @include flexbox
    &:after
      content: ''
      position: absolute
      top: 6px
      bottom: -6px
      left: 20px
      right: 20px
      border-radius: 15px
      background: $color-red
      z-index: -1
    &__list
      width: 350px
      position: relative
      z-index: 10
      li
        width: 100%
        height: 90px
        border-bottom: 1px solid #EFF1F5
        line-height: 1.5
        padding: 0 25px
        @include flexbox
        align-items: center
        cursor: pointer
        position: relative
        &:last-child
          border-bottom: 0
          border-bottom-left-radius: 15px
        &:first-child
          border-top-left-radius: 15px
        &.slick-active
          color: #ffffff
          background: linear-gradient(180deg, rgba(255, 0, 0, 0.47) 0%, rgba(255, 0, 0, 0.94) 100%)
          &:after
            content: ''
            position: absolute
            top: 0
            right: -15px
            width: 15px
            height: 90px
            background: url(../img/icons/portfolio-active.svg) no-repeat
    &__content
      width: calc(100% - 350px)
      background: #eeeeee
      overflow: hidden
      border-top-right-radius: 15px
      border-bottom-right-radius: 15px
      position: relative
      .slick-list, .slick-track, .slick-slide, .slick-slide > div
        height: 100%
    &__text
      position: absolute
      left: 30px
      bottom: 30px
      background: #ffffff
      padding: 15px 25px
      line-height: 1.5
      border-radius: 10px
      max-width: 480px
    &__item
      background-size: cover
      background-repeat: no-repeat
      background-position: center center
      position: relative
      height: 100%
  .slick-arrow
    display: none !important
  &-btns
    display: none

// @include media(xl) // 1200

@include media(lg) // 1024
  .portfolio .title br
    display: none
  
  .portfolio-carousel__text
    max-width: 328px

@include media(md) // 768
  .portfolio
    padding: 70px 0 80px
  .portfolio-carousel__list
    display: none
  .portfolio-carousel__content
    width: 100%
    height: 400px
    border-radius: 15px
  .portfolio-carousel__text
    max-width: 486px
  .portfolio 
    .slick-arrow
      display: block !important
      position: absolute
      bottom: -80px
      z-index: 100
      width: 60px
      height: 60px
      border-radius: 100%
      border: 0
      font-size: 0
    .slick-prev
      left: calc(100% / 2 - 70px)
      transform: rotate(180deg)
      background: url(../img/icons/portfolio-arrow.svg) no-repeat left 26px center, linear-gradient(0deg, rgba(255, 0, 0, 0.47) 0%, rgba(255, 0, 0, 0.94) 100%), #fff
    .slick-next
      right: calc(100% / 2 - 70px)
      background: url(../img/icons/portfolio-arrow.svg) no-repeat left 26px center, linear-gradient(180deg, rgba(255, 0, 0, 0.47) 0%, rgba(255, 0, 0, 0.94) 100%), #fff
  .portfolio-carousel__content
    overflow: initial
  .portfolio-carousel__content .slick-list
    border-radius: 15px

  .portfolio.commercial .portfolio-btns
    justify-content: center
    margin-top: 80px
    .btn
      margin-top: 20px
  .portfolio.commercial
    padding-bottom: 40px

@include media(sm) // 576
  .portfolio-carousel
    margin-top: 30px
  .portfolio-carousel__text
    max-width: 385px

@include media(xs) //475
  .portfolio
    padding: 40px 0 50px
  .portfolio-carousel__text
    max-width: 100%
    left: 10px
    bottom: 10px
    right: 10px
    padding: 10px
    font-size: 14px

// @include media(xxs) // 375