.reasons
  padding: 70px 0 10px
  &-row
    @include flexbox
    margin: 20px -15px 0
  &-item
    margin: 40px 15px 0
    width: calc(100% / 3 - 30px)
    &__img
      height: 180px
      border-radius: 8px
      background-color: #eeeeee
      background-repeat: no-repeat
      background-position: center center
      background-size: cover
      margin-bottom: 20px
    b
      display: block
      font-size: 18px
      padding: 0 10px
      margin-bottom: 15px
    p
      padding: 0 10px
  &-gate
    padding-bottom: 70px

// @include media(xl) // 1200

// @include media(lg) // 1024

@include media(md) // 768
  .reasons-item
    width: calc(100% / 2 - 30px)
  .reasons .title br
    display: none

// @include media(sm) // 576

@include media(xs) //475
  .reasons-item
    width: calc(100% - 30px)

// @include media(xxs) // 375